$unit: 'px'

input:hover
  cursor: pointer

body
  font-size: 16px

section
  +w(100%)
  padding: 0 20px

.head
  background-color: $white
  padding: 30px 0 40px
  &,a,input,input::placeholder
    color: $black
  &-right
    flex: 0 0 200px
  &-search
    flex: 0 0 200px
    &-input
      font-size: 14px
      border: 2px solid $main
      &::placeholder
        opacity: .5
    &-button
      padding: 7px 8px 9px
  &-cart
    +wh(35px)
    &-count
      right: 8px
      color: $brown
  &-nav
    +w(670px)
    padding: 0 10px
    margin-top: 10px
    text-transform: uppercase
    &-cont
      flex: 0 0 650px
    &-item
      opacity: .7
  &-login,&-sign,&-nav-item a
    &:hover
      text-decoration: underline
  &-login,&-sign,&-nav-item
    letter-spacing: 1px
  &-scrolled
    padding: 10px 0
    box-shadow: 0 5px 5px rgba($black,.3)


main
  margin-top: 184px

.string
  margin-bottom: 120px
  font-size: 24px

.partners
  +w(100%)
  padding: 0
  margin-bottom: 120px
  &-title
    text-transform: uppercase
    padding-left: 50px
  &:before,&:after
    +wh(calc(50% - 450px),1px)
    background-color: $main
    content: ''
    display: block
    flex-shrink: 0
  &-list
    padding-right: 50px



.block
  &-to-right,&-to-left,&-center
    margin-bottom: 120px
  &-title
    font-size: 40px
    font-weight: 700
    padding-bottom: 30px
  &-text
    &-title
      font-size: 32px
    &-link
      font-size: 19px
      &:hover
        text-decoration: underline
    &-big
      font-size: 24px
      padding-bottom: 40px
      img
        height: 15px
    &-bottom
      padding-bottom: 30px
  &-list
    &-item
      font-size: 18px
  &-banner
    &-product
      +w(230px)
      margin-right: 25px
    &-photo
      +w(450px)
  &-pizza
    &-product
      max-width: 440px
      margin-right: 100px
    &-text-bottom
      padding-right: 70px
  &-mom
    &-product
      max-width: 300px
    &-text
      &-bottom
        +w(330px)
  &-serenity
    &-photo
      +w(40%)
    &-product
      margin-right: 15%!important
    &-text-bottom
      +w(calc(50% + 204px))
  &-zodiac
    &-product
      +w(23%)
    &-photo
      +w(45%)
    &-text-bottom
      +w(55%)
  &-happiness
    &-product
      +w(18%)
      margin-right: 15%!important
    &-photo
      +w(36%)
    &-text
      &-bottom
        +w(calc(50% + 268px))
      &-top
        top: 150px
        div
          font-size: 32px
  &-compliment
    &-product
      +w(30%)
    &-photo
      +w(45%)
    &-text-bottom
      top: 100px
  &-gift
    &-text
      margin-right: 50px
  &-center
    padding: 50px 0
    .block
      justify-content: center

a.block-text-title
  &:hover
    text-decoration: underline

.story
  margin-bottom: 120px
  &-link
    bottom: 10px

.video
  margin-bottom: 120px

.sign
  padding: 40px 0
  margin-bottom: 120px
  form
    +w(1000px)
    margin: 0 auto
  &-title
    margin-right: 50px
  &-input
    width: 400px
    margin-right: 20px
  &-input,&-submit
    height: 80px
    padding: 0 40px
  &-submit
    transition: .35s ease
    &:hover
      background-color: $white
      color: $main

.calm
  margin-bottom: 120px
  &-title
    margin: 0 0 80px
    span
      padding: 0 50px
  &-item
    &-title
      margin: 0
    &-img
      +wh(200px)
      margin-bottom: 40px
      img
        max-height: 100px
        max-width: 130px
    &-text
      margin-top: 20px
  &-list
    +w(1000px)
    justify-content: space-between
    margin: 0 auto

.story
  &-link
    padding-bottom: 10px

.footer
  section
    +w(1000px)
    padding: 30px 0
  &-main
    &-title
      font-size: 36px
  &-link
    padding: 5px 0
    font-size: 20px
a.footer-link
  &:hover
    text-decoration: underline