$unit: 'px'
section
  +w($mobile#{$unit})
  margin: 0 auto
  padding: 0 10px

h1,h2,h3,h4,h5,h6
  font-family: $c_reg

.row
  display: flex
  align-items: center

.head
  padding: 10px 0
  background-color: $black
  position: fixed
  top: 0
  left: 0
  right: 0
  &,a,input
    color: $white
  &-mobile-none
    display: none!important
  &-logo
    +w(100px)
    +dfc
    margin-right: auto
  &-burger
    padding: 10px
    &-span,&:before,&:after
      transition: .35s ease
      +wh(30px,3px)
      display: block
      background: $white
    &:before,&:after
      content: ''
    &-span
      margin: 3px 0
  &-nav
    +wh(100%,0)
    transition: .35s ease
    overflow: hidden
    &-show
      .head-nav
        height: 390px
        margin-top: 10px
      .head-burger
        &-span
          opacity: 0
          visibility: hidden
        &:before
          transform: rotate(45deg) translateY(8.5px)
        &:after
          transform: rotate(-45deg) translateY(-8.5px)
    &-item
      height: 40px
      border-bottom: 1px solid $white
      a
        +wh(100%)
        display: flex
        align-items: center
        padding-left: 20px
    &-mobile
      display: flex
      align-items: center
      justify-content: space-between
      border-bottom: 1px solid $white
      padding: 10px 0
  &-search
    width: 150px
    position: relative
    &-input
      +w(100%)
      text-align: right
      padding: 5px 35px 5px 0
      border: 1px solid $white
      &::placeholder
        color: rgba($white,.8)
    &-button
      +wh(30px)
      padding: 5px
      position: absolute
      right: 0
      border-left: 1px solid $white
  &-cart
    +wh(30px)
    position: relative
    &-count
      color: $gold
      position: absolute
      right: 6px


main
  margin-top: 67px

.block
  &-title
    font-size: 24px
    color: $brown
    padding-bottom: 20px
  &-text
    &-big
      font-size: 18px
      display: flex
      align-items: center
      padding-bottom: 10px
      img
        height: 14px
        display: block
        margin: 0 7px 3px
  &-list
    &-item
      padding: 5px 0
      img
        +w(10px)
        margin-right: 10px


.footer
  background-color: $black
  padding: 20px 0
  &,a
    color: $white
  &-title
    font-size: 28px
    padding-bottom: 30px
    strong
      font-weight: bold
  &-item
    margin-bottom: 30px
  &-link
    display: block
    padding: 3px 0
  &-last
    &-row
      +w(100%)
      text-align: center
      font-size: 12px
  &-copy
    display: block
    margin-bottom: 10px
    &-blue
      padding: 5px
      background-color: $blue
