$unit: 'px'
section
  +w($tablet#{$unit})
  margin: 0 auto
  padding: 0

.row
  justify-content: space-between

.head
  &,&-logo,&-nav:after,&-nav-item
    transition: .35s ease
  &-mobile-none
    display: flex!important
  &-nav-mobile,&-burger
    display: none
  &-logo
    margin: 0 auto
    +w(150px)
    img
      +w(100%)
  &-search
    flex: 0 0 140px
    &-input
      text-align: left
      padding: 5px 0 5px 30px
    &-button
      right: inherit
      left: 0
      border: none
      padding: 8px
  &-right
    flex: 0 0 140px
    justify-content: space-between
    align-items: center
  &-cart
    display: block
  &-nav
    height: auto
    display: flex
    align-items: center
    justify-content: space-between
    margin: 0 auto
    position: relative
    &-cont
      flex: 0 0 458px
    &:after
      +wh(100%,2px)
      display: block
      content: ''
      position: absolute
      bottom: 0
      left: 0
      right: 0
      background-image: linear-gradient(90deg,rgba(#d2cdcc,.5),#6f5e59,rgba(#d2cdcc,.5))
    &-item
      height: auto
      padding: 10px 0
      border-bottom: none
      font-size: 12px
      a
        +w(auto)
        padding: 0 10px
  &-scrolled
    .head
      &-logo
        +w(100px)
      &-nav
        &:after
          height: 0
        &-item
          padding-bottom: 0

main
  margin-top: 154px

.string
  margin-bottom: 40px

.partners
  display: flex
  align-items: center
  padding: 0 20px
  margin-bottom: 40px
  &-title
    flex-shrink: 0
    padding-right: 50px
  &-item
    width: 100px

.block
  display: flex
  align-items: stretch
  &-to
    &-right
      padding: 0 0 0 30px
      .block-product
        margin: 0 auto 0 55px
    &-left
      padding: 0 30px 0 0
      .block-product
        margin: 0 55px 0 auto
  &-to-right,&-to-left,&-center
    margin-bottom: 40px
  &-text
    padding: 0
    display: flex
    align-items: flex-start
    justify-content: center
    flex-direction: column
    margin-right: auto
    &-bottom
      position: absolute
      bottom: 0
  &-product
    +w(15%)
    margin: 0
  &-photo
    +w(35%)
    display: block
  &-pizza
    &-photo
      +w(60%)
    &-product
      +w(25%)
    &-text-bottom
      +w(100%)
  &-mom
    &-product
      +w(20%)
    &-photo
      +w(60%)
    &-text
      &-bottom
        +w(31%)
  &-serenity
    &-product
      +w(20%)
    &-photo
      +w(45%)
    &-text-bottom
      +w(75%)
  &-zodiac
    &-product
      +w(20%)
    &-photo
      +w(40%)
    &-text
      &-bottom
        +w(60%)
  &-happiness
    &-product
      +w(17%)
    &-photo
      +w(32%)
    &-text
      &-bottom
        +w(75%)
      &-top
        display: block
        text-align: center
        position: absolute
        top: 50px
        right: 0
        left: 0
        div
          font-size: 18px
          margin-bottom: 10px
  &-compliment
    &-product
      +w(25%)
      margin-left: 10%!important
    &-photo
      +w(40%)
    &-text-bottom
      +w(100%)
      top: 50px
      p,a
        margin-left: auto
        margin-right: 40%
  &-gift
    &-text
      margin-right: auto
    &-product
      +w(30%)
      margin-top: 0
  &-center
    padding: 30px 15px
    .block
      align-items: center

.story
  margin-bottom: 40px
  &-link
    left: initial
    right: 25%
    a
      color: $brown

.video
  margin-bottom: 40px

.sign
  margin-bottom: 40px
  form
    flex-wrap: nowrap
  &-title
    font-size: 28px
    margin-bottom: 0
    margin-top: 5px
  &-input
    +w(30%)
    font-size: 18px
  &-submit
    font-size: 28px
  &-input,&-submit
    height: 50px
    padding: 0 20px

.calm
  margin-bottom: 40px
  &-title
    margin-bottom: 30px
    display: flex
    align-items: center
    justify-content: space-between
    span
      flex-shrink: 0
      padding: 0 20px
    &:before,&:after
      content: ''
      display: block
      +wh(100%,1px)
      background-color: $main
  &-list
    flex-direction: row
    justify-content: space-around
  &-item
    margin-top: 0

.footer
  &-list
    +w(100%)
    display: flex
    align-items: flex-start
    justify-content: space-between
  &-last-row
    font-size: 14px