footer.footer
    section
        .footer-row
            ul.footer-list
                li.footer-item
                    ul.footer-col
                        li.footer-col-item
                            h3.footer-title
                                | Need&nbsp;
                                strong Some&nbsp;
                                | Help?
                        li.footer-col-item
                            a(href='#').footer-link Contact Us
                        li.footer-col-item
                            a(href='#').footer-link Return and Refund Policy
                        li.footer-col-item
                            a(href='#').footer-link Shipping Options
                        li.footer-col-item
                            a(href='#').footer-link Privacy Statement
                        li.footer-col-item
                            a(href='#').footer-link Terms of Service
                li.footer-item
                    ul.footer-col
                        li.footer-col-item
                            h3.footer-title
                                strong Insider&nbsp;
                                | Details
                        li.footer-col-item
                            a(href='#').footer-link Learn How To Make Your Necklace Last
                        li.footer-col-item
                            a(href='#').footer-link Best Way To Use Our Magnifying Glass
                        li.footer-col-item
                            a(href='#').footer-link Blog
                        li.footer-col-item
                            a().footer-link &nbsp;
                        li.footer-col-item
                            a(href='#').footer-link All Collections
                li.footer-item
                    ul.footer-col
                        li.footer-col-item
                            h3.footer-title
                                | Let's Get&nbsp;
                                strong Closer
                        li.footer-col-item
                            a(href='#').footer-link About Us
                        li.footer-col-item
                            a(href='#').footer-link Our Nano Dream
        .footer-last-row
            span.footer-copy Copyright © All rights reserved to Nano-Gold Ltd
            span.footer-copy-blue © Protected by CopyScape

    - if(fancy || slick)
        +inc('js','js/jquery-3.3.1.min.js')
    - if(fancy)
        +inc('js','js/jquery.fancybox.min.js')
    - if(slick)
        +inc('js','slick.js')
    - if(greensock)
        +inc('js','js/greensock.js')
    +inc('js','js/main.js',true)