header.head
    section
        .row
            .head-search
                input(type='search' placeholder='Search...').head-search-input
                button.head-search-button
                    +img('search.webp')
            a(href='#').head-logo
                +img('logo.png')
            .head-right
                a(href='#').head-cart
                    +img('basket.png')
                a(href='#').head-login Log in
                a(href='#').head-sign Sign up
        nav.row
            ul.head-nav
                li.head-nav-item.head-nav-mobile
                    .head-search
                        input(type='search' placeholder='Search...').head-search-input
                        button.head-search-button
                            +img('search.webp')
                li.head-nav-item.head-nav-mobile
                    a(href='#').head-nav-cart
                        +img('basket.png')
                    a(href='#').head-nav-login Log in
                    span /
                    a(href='#').head-nav-sign Sign up
                li.head-nav-item
                    a(href='#') Gifts
                li.head-nav-item
                    a(href='#') Love
                li.head-nav-item
                    a(href='#') Happiness
                li.head-nav-item
                    a(href='#') For him
                li.head-nav-item
                    a(href='#') For her
                li.head-nav-item
                    a(href='#') Zodiac
                li.head-nav-item
                    a(href='#') Religions
                li.head-nav-item
                    a(href='#') Gift card
