extends template/main
append vars
  -
    page_title= 'Main'
block content
    main
        .block-to-right.block-first
            .block
                .block-right.block-text
                    h2.block-title
                        | One jewelry is worth a thousand words
                    p.block-text-big Artistic
                        +img('24k.png')
                        | Gold Nano Inscriptions
                    ul.block-list
                        li.block-list-item
                            +img('ball.png')
                            | Includes luxury magnifying glass to read the message
                        li.block-list-item
                            +img('ball.png')
                            | 100-day return policy & money-back guarantee
                        li.block-list-item
                            +img('ball.png')
                            | Free express delivery worldwide
                .block-middle.block-product.block-banner-product
                    +img('amulet.png')
                .block-left.block-photo.block-banner-photo
                    +img('girl.png')
        .string
            strong 24k Pure Gold&nbsp;
            | Inscriptions Like You've Never Seen Before
        .partners
            h3.partners-title As Seen On:
            ul.partners-list
                li.partners-item
                    +img('CBC.png')
                li.partners-item
                    +img('FOX.png')
                li.partners-item
                    +img('NBC.png')
                li.partners-item
                    +img('ABC.png')
        //.real
        //    h3.sign-title.calm-title
        //        span Real Reviews from Customers
        //    ul.real-list
        //        li.real-item
        //            .real-left
        //                +img('slide-1.webp')
        //            .real-right
        //                a(href='#').real-item-title
        //                    | "Body and Mind", 3 Microns Gold Plated Necklace, Zirconia
        //                .real-stars
        //                    ul.real-stars-icons
        //                        li.real-stars-icons-gold
        //                            include ../img/star.svg
        //                        li.real-stars-icons-gold
        //                            include ../img/star.svg
        //                        li.real-stars-icons-gold
        //                            include ../img/star.svg
        //                        li
        //                            include ../img/star.svg
        //                        li
        //                            include ../img/star.svg
        //                    span (9)
        //                .real-customer
        //                    span by&nbsp;
        //                    a(href='#') Jill C.
        //                p.real-comment I bought this for a co-worker that also a great friend, and she absolutely loved it!
        //        li.real-item
        //            .real-left
        //                +img('slide-1.webp')
        //            .real-right
        //                a(href='#').real-item-title
        //                    | "Body and Mind", 3 Microns Gold Plated Necklace, Zirconia
        //                .real-stars
        //                    ul.real-stars-icons
        //                        li.real-stars-icons-gold
        //                            include ../img/star.svg
        //                        li.real-stars-icons-gold
        //                            include ../img/star.svg
        //                        li.real-stars-icons-gold
        //                            include ../img/star.svg
        //                        li
        //                            include ../img/star.svg
        //                        li
        //                            include ../img/star.svg
        //                    span (9)
        //                .real-customer
        //                    span by&nbsp;
        //                    a(href='#') Jill C.
        //                p.real-comment I bought this for a co-worker that also a great friend, and she absolutely loved it!
        //        li.real-item
        //            .real-left
        //                +img('slide-1.webp')
        //            .real-right
        //                a(href='#').real-item-title
        //                    | "Body and Mind", 3 Microns Gold Plated Necklace, Zirconia
        //                .real-stars
        //                    ul.real-stars-icons
        //                        li.real-stars-icons-gold
        //                            include ../img/star.svg
        //                        li.real-stars-icons-gold
        //                            include ../img/star.svg
        //                        li.real-stars-icons-gold
        //                            include ../img/star.svg
        //                        li
        //                            include ../img/star.svg
        //                        li
        //                            include ../img/star.svg
        //                    span (9)
        //                .real-customer
        //                    span by&nbsp;
        //                    a(href='#') Jill C.
        //                p.real-comment I bought this for a co-worker that also a great friend, and she absolutely loved it!
        //        li.real-item
        //            .real-left
        //                +img('slide-1.webp')
        //            .real-right
        //                a(href='#').real-item-title
        //                    | "Body and Mind", 3 Microns Gold Plated Necklace, Zirconia
        //                .real-stars
        //                    ul.real-stars-icons
        //                        li.real-stars-icons-gold
        //                            include ../img/star.svg
        //                        li.real-stars-icons-gold
        //                            include ../img/star.svg
        //                        li.real-stars-icons-gold
        //                            include ../img/star.svg
        //                        li
        //                            include ../img/star.svg
        //                        li
        //                            include ../img/star.svg
        //                    span (9)
        //                .real-customer
        //                    span by&nbsp;
        //                    a(href='#') Jill C.
        //                p.real-comment I bought this for a co-worker that also a great friend, and she absolutely loved it!
        .gift-for
            h3.sign-title.calm-title
                span Gift for Anyone. Anytime. For a Lifetime.
        .block-to-left.block-pizza
            .block
                .block-photo.block-pizza-photo
                    +img('photo-pizza.png')
                .block-product.block-pizza-product
                    +img('amulet-pizza.png')
                .block-text-bottom.block-pizza-text-bottom
                    p.block-text-title "I Love You" in 120 Languages
                    a(href='#').block-text-link Explore Love collection >
        .block-to-right.block-mom
            .block
                .block-product.block-mom-product
                    +img('amulet-mom.png')
                .block-photo.block-mom-photo
                    +img('photo-mom.png')
                .block-text-bottom.block-mom-text-bottom
                    p.block-text-title Mom you are the one
                    a(href='#').block-text-link Gift for mom >
        .block-to-left.block-serenity
            .block
                .block-photo.block-serenity-photo
                    +img('photo-serenity.png')
                .block-product.block-serenity-product
                    +img('product-serenity.png')
                .block-text-bottom.block-serenity-text-bottom
                    p.block-text-title Serenity. Courage. Wisdom.
                    a(href='#').block-text-link Buy the serenity prayer >
        .block-to-right.block-zodiac
            .block
                .block-product.block-zodiac-product
                    +img('product-zodiac.png')
                .block-photo.block-zodiac-photo
                    +img('photo-zodiac.png')
                .block-text-bottom.block-zodiac-text-bottom
                    p.block-text-title Zodiac Sign with Character Traits
                    a(href='#').block-text-link Check zodiac collection >
        .block-to-left.block-happiness
            .block
                .block-photo.block-happiness-photo
                    +img('photo-happiness.png')
                .block-product.block-happiness-product
                    +img('product-happiness.png')
                .block-text-bottom.block-happiness-text-bottom
                    p.block-text-title The Good Luck Charm of Happiness
                    a(href='#').block-text-link To happiness collection >
                .block-text-top.block-happiness-text-top
                    div Put all the initials
                    div of the words together,
                    div You get the best wish
                    div for yourself!
        .block-to-right.block-compliment
            .block
                .block-product.block-compliment-product
                    +img('product-compliment.png')
                .block-photo.block-compliment-photo
                    +img('photo-compliment.png')
                .block-text-bottom.block-compliment-text-bottom
                    p.block-text-title 101 Compliments Necklace
                    a(href='#').block-text-link Visit love collection >
        .block-center.gift-card
            .block
                .block-gift-text
                    p.block-text-title "The true value of a gift is the sentiment behind the gifting"
                    a(href='#').block-text-link Buy gift card >
                .block-gift-product
                    +img('product-gift.png')
        .story
            .block-story-product
                +img('photo-story.png')
            .block-text-bottom.story-link
                a(href='#').block-text-title Our story >
        .video
            video( controls src='')
        .calm
                h3.sign-title.calm-title
                    span Keep Calm and Shop On
                ul.calm-list
                    li.calm-item
                        .calm-item-img
                            +img('dollar.png')
                        h4.calm-item-title.sign-title Sit Back and Relax
                        p.calm-item-text Ultra Safe Payment Process.
                        p.calm-item-text Sealed with Top Third Party Security.
                    li.calm-item
                        .calm-item-img
                            +img('gift.png')
                        h4.calm-item-title.sign-title Let us Spoil You
                        p.calm-item-text Free Door to Door Delivery, Our Treat.
                        p.calm-item-text Packed in a Gift Box Ready to Give.
                    li.calm-item
                        .calm-item-img
                            +img('100.png')
                        h4.calm-item-title.sign-title No Strings Attached
                        p.calm-item-text Change you Mind? No Biggie.
                        p.calm-item-text 100 Day Return & Full Money Back.
        .sign
            form
                h3.sign-title Sign Up & Be The First to Know:
                input(type='text' placeholder='Email').sign-input
                button.sign-submit SEND